.dashboard{
    background: url('../img/AssetDasboard/Group\ 29.png') no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: 220px -140px;

        .img-background-2{
            position: absolute;
            width: 50%;
            top: 87%;
            right: 56%;
        }
}

.container{

    &-col{
        left: 30%;
        top: 150px;
        position: relative;

        &-title{
            color: $primary-color;
            width: 50%;
            .primary-text{
                font-family: Gilbert;
                font-size: 2.5rem;
            }

            .secondary-text{
                font-family: Gilroy;
                font-weight: $font-tebel;
                font-size: 1.2rem;
                margin-left: -2rem;
                letter-spacing: 2px;
            }
        }

        &-btn{
            @include buttonWrap;
            position: relative;
            bottom: 12rem;
            left: 20rem;
            width: 11.5rem;
           
            .btn1{
                @include button;

                &:hover{
                    background-color: transparent;
                    color: $primary-color;
                }
            } 
        }

        .img1{
            position: relative;
            left: 30rem;
            bottom: 15rem;
        }
    }

    //countdown
    &-col2{
        position: relative;
        width: 20%;
        left: -2rem;
        height: 200px;
        font-family: Gilbert;

        &-countdown{
            position: absolute;
            top: 70%;
            left: 60%;
            transform: translate(-50%) translateY(-50%);
            text-align: center;
            width: 80%;
            font-size: 3rem;
            color: $primary-color;

            td:nth-child(odd){
                padding: 0 15px 0 15px;
                background: #edede8;
                border-radius: 25%;
            }
            td:nth-child(even){
                padding: 10px;
                color: black;
            }
        }

        &-title2{
            position: absolute;
            top: 13rem;

            h4{
                font-size: 1.7rem;
                strong{
                    color: $primary-color;
                    font-weight: $font-tipis;
                }
            }
        }

        &-btn{
            @include button;
            width: 7rem !important;
            font-size: 1rem !important;
            position: absolute;
            top: 115%;
            left: 85%;

            &:hover{
                background-color: transparent;
                color: $primary-color;
                border-color: $primary-color;
            }
        }
    }

    //footer
    &-col3{
        width: 30%;
        position: relative;
        left: 58rem;
        top: 3rem;
        
        &-text{
          position: absolute;
          left: -5rem;
          top: 1rem;
          font-family: Gilbert;
          color: $secondary-color;
        }
        .social-icons{
            list-style-type: none;
            display: flex;
            position: absolute;
            top: 0.5rem;
            li{
                margin-right: 20px;
                width: 40px;
                height: 40px;
                background-color: $secondary-color;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover{
                    background-color: #999999;
                }
    
                i{
                    font-size: 1.5rem;
                    color: $primary-color;
                   
                }
            }
        }
    }
}

//nav
.navbar{
    font-family: Gilbert;
    font-weight: $font-tipis;
    list-style-type: none;
    text-decoration: none;

    &-brand{
        letter-spacing: 1.5px;
    }
    .nav{
        margin-left: 10rem;
        font-family: Gilroy;
        font-weight: $font-sedang;
        

        li:nth-child(odd){
            padding: 0 10rem 0 10rem;
        }

        &-user{
            color: $primary-color;
            margin-right: 1rem;
            margin-top: 0.5rem;
        }

        &-icon{
            position: relative;
            top: 0.4rem;
            >li{
                list-style-type: none;
                text-decoration: none;
            }
        }
    }
}