

.event{
    @include bg-responsive('../img/AssetEvent/EOTF-590.png', 'center', 'center');
    height: 100vh;
   
    @include responsive(md){
        height: 38rem;
    }
    .container{
        position: relative;
        top: 4rem;

        &-form{
            background: $secondary-color;
            border-radius: 25px;
            padding: 3rem;
            letter-spacing: 1px;

            @include responsive(md){
                width: 23rem;
                margin: auto;
            }
            @include responsive(lg){
                width: 23rem;
            }
            &-judul{
                font-family: GilroyBold;
                font-size: 1.5rem;
            }

            .inputEvent{
                margin-top: 1rem;
                font-family: Gilroy;
                font-weight: $font-sedang;
            }

            .form-control{
                border-radius: 25px;
            }
        }

        &-notice{
            font-size: 0.8rem;
            font-family: Gilroy;
        }

        .btn-event{
            background: $primary-color;
            border-radius: 25px;
            width: 35%;
            color: #fff;
            font-family: Gilroy;
            float: right;
        }

        .btn-event:hover{
            color: $primary-color;
            background: #fff;
        }
    }
}

