* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      
      @font-face {
        font-family: Gilbert;
        src: url("../font/Gilbert-Bold Preview5.otf") format("truetype");
      }
      
      @font-face {
        font-family: Gilroy;
        src: url("../font/Gilroy-Light.otf") format("truetype");
      }
      
      .bukti {
       
        background-size: cover;
        height: 100vh;
        width: 100%;
        background-position: 220px -140px;
      }
      
      .bukti .img-background-2 {
        background-size: cover;
          position: absolute;
          width: 43%;
          height: 27%;
          top: 40%;
          right: 29%;
      }
      
      .navbar {
        font-family: Gilbert;
        font-weight: 300;
        list-style-type: none;
        text-decoration: none;
      }
      
      .navbar-brand {
        letter-spacing: 1.5px;
      }
      
      .navbar .nav {
        margin-left: 10rem;
        font-family: Gilroy;
        font-weight: 500;
      }
      
      .navbar .nav li:nth-child(odd) {
        padding: 0 10rem 0 10rem;
      }
      
      .navbar .nav-user {
        color: #ff8400;
        margin-right: 1rem;
        margin-top: 0.5rem;
      }
      
      .navbar .nav-icon {
        position: relative;
        top: 0.4rem;
      }
      
      .navbar .nav-icon > li {
        list-style-type: none;
        text-decoration: none;
      }
      
      body {
        background: #ff8400;
        overflow-x: hidden;
      }
      .jumbotron{
        background: #ff8400;
        text-align: center;
        height: 200px;

      }
      .jumbotron .display-4 {
        color: white;
        font-family: gilbert; 
        font-size: 8vmax;
      }
      .img1{
        background-size: cover;
          position: absolute;
          bottom: 24%;
          right: 46%;
      }
      .col{
        font-family: gilroy;
        font-size: 1.5rem;  
        color: #ff8400;
        text-align: center;
      
      }
     
      .col-btn{
        border-style: solid;
        border-radius: 50px;
        background-color: transparent;
        border-color: #ffffff;
        padding: 2rem;
        position: relative;;
        top: 5rem;
        width: 12rem;
        height: 5rem;
        left: 50rem;
      }
      
      .col-btn .btn {
        border-radius: 50px;
        background-color: white;
        border-color: white;
        padding: 0.5rem;
        position: absolute;
        width: 10rem;
        font-family: gilroy;
        font-size: 1.7rem;
        color: #ff8400;
        letter-spacing: 1.5px;
        font-weight: 800;
        right: 0.8rem;
        bottom: 0.5rem;
      }
      
      .btn:hover{
        background-color: transparent;
        color: white;
      }

      .img2{
          background-size: cover;
          position: absolute;
          bottom: -6%;
          right: -3%;
          width: 140%;
          height: 28%;
      }
     
  
  .img3{
    background-size: cover;
          position: absolute;
          bottom: 4%;
          right: 4%;
          width: 55px;
          height: 55px;
  }
  .btn-next{
    background-position: center;
    background-size: cover;
    position: relative;
    float: right;
    
}
      