* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      
      @font-face {
        font-family: Gilbert;
        src: url("../font/Gilbert-Bold Preview5.otf") format("truetype");
      }
      
      @font-face {
        font-family: Gilroy;
        src: url("../font/Gilroy-Light.otf") format("truetype");
      }
      
      .bukti {
        background: url("../img/AssetBukti/Group\ 30.png") no-repeat;
        height: 100vh;
        width: 100%;
        background-position: 290px 60px;
        background-size: 65%;
      }

      .bukti .container{
        margin: 5rem;
      }
      
      .bukti .container .gambar1 {
        position: relative;
        bottom: -3rem;
        left: 36rem;
      }

      .bukti .container .gambar2{
        position: relative;
        bottom: -4rem;
        left: -8rem;
      }

      
      .bukti .container .gambar1 .img1{
        object-fit: cover;
        width: 150px;
      }

      .bukti .container .gambar2 .img2{
        object-fit: cover;
        width: 1400px;
      }

      

      .navbar {
        font-family: Gilbert;
        font-weight: 300;
        list-style-type: none;
        text-decoration: none;
      }
      
      .navbar-brand {
        letter-spacing: 1.5px;
      }
      
      .navbar .nav {
        margin-left: 10rem;
        font-family: Gilroy;
        font-weight: 500;
      }
      
      .navbar .nav li:nth-child(odd) {
        padding: 0 10rem 0 10rem;
      }
      
      .navbar .nav-user {
        color: #ff8400;
        margin-right: 1rem;
        margin-top: 0.5rem;
      }
      
      .navbar .nav-icon {
        position: relative;
        top: 0.4rem;
      }
      
      .navbar .nav-icon > li {
        list-style-type: none;
        text-decoration: none;
      }
      
      body {
        background: #ff8400;
        overflow-x: hidden;
      }
      .bukti .container .jumbotron{
        background: transparent;
        text-align: center;

        

      }
      .bukti .container .jumbotron .display-4 {
        color: white;
        font-family: gilbert; 
        font-size: 8vmax;
        margin-top: -9rem;
        margin-left: 10rem;
      }

      .bukti .container .text1{
        font-family: gilroy;
        font-size: 2.2rem;  
        color:orange;
        text-align: center;
        margin-left: 17rem;
        margin-top: -3.5rem;
      
      }
     
      .bukti .container .gambar{
        position: relative;
        bottom: 3rem;
      }

     .bukti .container .kolom{
      position: relative;
      margin-top: -6rem;
     }

     .bukti .container .btn-kanan{
      position: relative;
      margin-left: 68rem;
      margin-top: -10rem;
     }