* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Gilbert;
  src: url("../font/Gilbert-Bold Preview5.otf") format("truetype");
}

@font-face {
  font-family: Gilroy;
  src: url("../font/Gilroy-Light.otf") format("truetype");
}

@font-face {
  font-family: GilroyBold;
  src: url("../font/Gilroy-ExtraBold.otf") format("truetype");
}

.bg-dashboard {
  background: url("../img/AssetDasboard/Group 29.png") no-repeat;
  background-size: cover;
  width: 100%;
  background-position: 220px -210px;
  height: 100vh;
}

@media (max-width: 575.98px) {
  .bg-dashboard {
    background-position: -220px -150px;
    height: 120vh;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .bg-dashboard {
    background-position: -10px -150px;
    height: 102.5vh;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .bg-dashboard {
    background-position: 100px -150px;
    height: 107.5vh;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .bg-dashboard {
    background-position: 180px -150px;
    height: 107.5vh;
  }
}

.bg-dashboard .container {
  margin-left: 5rem;
}

@media (max-width: 575.98px) {
  .bg-dashboard .container {
    margin: 0;
  }
}

.bg-dashboard .container .text-konten {
  margin-top: 2.5rem;
  margin-left: 5rem;
  color: #ff8400;
}

@media (max-width: 575.98px) {
  .bg-dashboard .container .text-konten {
    margin: 1rem;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .bg-dashboard .container .text-konten {
    margin-left: 2rem;
  }
}

.bg-dashboard .container .text-konten .primary-text {
  font-family: Gilbert;
  font-size: 2.5rem;
}

@media (max-width: 575.98px) {
  .bg-dashboard .container .text-konten .primary-text {
    font-size: 1.8rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .bg-dashboard .container .text-konten .primary-text {
    font-size: 1.8rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .bg-dashboard .container .text-konten .primary-text {
    font-size: 2rem;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .bg-dashboard .container .text-konten .primary-text {
    font-size: 2rem;
  }
}

.bg-dashboard .container .text-konten .secondary-text {
  font-family: Gilroy;
  font-weight: 800;
  font-size: 1.2rem;
  margin-left: -2rem;
  letter-spacing: 2px;
}

@media (max-width: 575.98px) {
  .bg-dashboard .container .text-konten .secondary-text {
    font-size: 0.9rem;
    margin-left: 0.1rem;
    width: 20rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .bg-dashboard .container .text-konten .secondary-text {
    font-size: 0.9rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .bg-dashboard .container .text-konten .secondary-text {
    font-size: 1rem;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .bg-dashboard .container .text-konten .secondary-text {
    font-size: 1rem;
  }
}

@media (max-width: 575.98px) {
  .bg-dashboard .container .text-konten2 {
    position: relative;
    bottom: 2rem;
  }
}

.bg-dashboard .container .text-konten2 img {
  object-fit: cover;
}

@media (max-width: 575.98px) {
  .bg-dashboard .container .text-konten2 img {
    width: 200px;
    margin-left: 15rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .bg-dashboard .container .text-konten2 img {
    width: 220px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .bg-dashboard .container .text-konten2 img {
    width: 250px;
    background: red;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .bg-dashboard .container .text-konten2 img {
    width: 250px;
  }
}

.bg-dashboard .container .text-konten2 .btn {
  border-style: solid;
  border-radius: 50px;
  background-color: transparent;
  border-color: #ff8400;
  padding: 0.5rem;
  position: relative;
  right: 5rem;
}

@media (max-width: 575.98px) {
  .bg-dashboard .container .text-konten2 .btn {
    bottom: 10rem;
    left: 2rem;
    width: 8.5rem;
  }
}

.bg-dashboard .container .text-konten2 .btn .btn1 {
  background: #ff8400;
  width: 10rem;
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: 1.5px;
  border-color: #ff8400;
  position: relative;
  left: 0;
}

@media (max-width: 575.98px) {
  .bg-dashboard .container .text-konten2 .btn .btn1 {
    top: 0;
    width: 7.5rem;
  }
}

.bg-dashboard .container .text-konten2 .btn .btn1:hover {
  background-color: transparent;
  color: #ff8400;
}

.bg-dashboard .container-fluid {
  background: url("../img/AssetDasboard/Path 11.png") no-repeat;
  background-size: contain;
  height: 22rem;
  background-position: -110px;
}

@media (max-width: 575.98px) {
  .bg-dashboard .container-fluid {
    width: 185%;
    height: 28rem;
    background-position: -110px 100px;
    margin: 5rem 0 0 0;
    background-size: cover;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .bg-dashboard .container-fluid {
    height: 18rem;
    margin-top: 4.5rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .bg-dashboard .container-fluid {
    height: 24rem;
  }
}

.bg-dashboard .container-fluid .countdown {
  margin: 10rem 0 0 10rem;
}

@media (max-width: 575.98px) {
  .bg-dashboard .container-fluid .countdown {
    margin-top: 15rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .bg-dashboard .container-fluid .countdown {
    margin: 4rem 0 0 0;
  }
}

.bg-dashboard .container-fluid .countdown .col-countdown {
  transform: translate(-50%) translateY(-50%);
  text-align: center;
  width: 80%;
  font-size: 2.5rem;
  color: #ff8400;
  font-family: Gilbert;
}

@media (max-width: 575.98px) {
  .bg-dashboard .container-fluid .countdown .col-countdown {
    width: 100px;
    margin-left: 5rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .bg-dashboard .container-fluid .countdown .col-countdown {
    width: 250px;
    font-size: 1.5rem;
    margin: 2rem 0 0 7.5rem;
    height: 50px;
  }
}

.bg-dashboard .container-fluid .countdown .col-countdown td:nth-child(odd) {
  padding: 0 15px 0 15px;
  background: #edede8;
  border-radius: 25%;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .bg-dashboard .container-fluid .countdown .col-countdown td:nth-child(odd) {
    padding: 1px;
  }
}

.bg-dashboard .container-fluid .countdown .col-countdown td:nth-child(even) {
  padding: 10px;
  color: black;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .bg-dashboard .container-fluid .countdown .col-countdown td:nth-child(even) {
    padding: 0;
  }
}

.bg-dashboard .container-fluid .wrap {
  font-family: Gilbert;
  margin-top: -1rem;
}

.bg-dashboard .container-fluid .wrap .text {
  font-size: 1.7rem;
}

@media (max-width: 575.98px) {
  .bg-dashboard .container-fluid .wrap .text {
    padding-left: 5rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .bg-dashboard .container-fluid .wrap .text {
    font-size: 1rem;
    margin-top: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .bg-dashboard .container-fluid .wrap .text {
    font-size: 1rem;
    margin-top: 0.5rem;
    background: red;
  }
}

.bg-dashboard .container-fluid .wrap .text strong {
  color: #ff8400;
  font-weight: 300;
}

.bg-dashboard .container-fluid .wrap .wrapper {
  position: relative;
}

@media (max-width: 575.98px) {
  .bg-dashboard .container-fluid .wrap .wrapper {
    position: relative;
    bottom: 3rem;
    left: 15rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .bg-dashboard .container-fluid .wrap .wrapper {
    top: -3rem;
    left: 9.5rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .bg-dashboard .container-fluid .wrap .wrapper {
    top: 2rem;
  }
}

.bg-dashboard .container-fluid .wrap .wrapper-btn {
  background: #ff8400;
  width: 10rem;
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: 1.5px;
  border-color: #ff8400;
  width: 7rem !important;
  font-size: 1rem !important;
}

.bg-dashboard .container-fluid .wrap .wrapper-btn:hover {
  background-color: transparent;
  color: #ff8400;
  border-color: #ff8400;
}

.bg-dashboard footer {
  position: relative;
  bottom: 3.5rem;
}

.bg-dashboard footer .wrapper-footer-konten {
  left: -3rem;
  position: relative;
}

@media (max-width: 575.98px) {
  .bg-dashboard footer .wrapper-footer-konten {
    left: 19rem;
    bottom: 1rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .bg-dashboard footer .wrapper-footer-konten {
    left: 10rem;
    top: -0.1rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .bg-dashboard footer .wrapper-footer-konten {
    left: -15rem;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .bg-dashboard footer .wrapper-footer-konten {
    left: -2rem;
  }
}

.bg-dashboard footer .wrapper-footer-text {
  margin: 1rem 0 0 -5rem;
  font-family: Gilbert;
  color: #d5d5c9;
}

@media (max-width: 575.98px) {
  .bg-dashboard footer .wrapper-footer-text {
    color: #ff8400;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .bg-dashboard footer .wrapper-footer-text {
    color: #ff8400;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .bg-dashboard footer .wrapper-footer-text {
    color: #ff8400;
  }
}

.bg-dashboard footer .wrapper-footer .social-icons {
  list-style-type: none;
  display: flex;
  position: absolute;
  top: 0.5rem;
}

.bg-dashboard footer .wrapper-footer .social-icons li {
  margin-right: 20px;
  width: 40px;
  height: 40px;
  background-color: #d5d5c9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-dashboard footer .wrapper-footer .social-icons li:hover {
  background-color: #999999;
}

.bg-dashboard footer .wrapper-footer .social-icons li i {
  font-size: 1.5rem;
  color: #ff8400;
}

.navbar {
  font-family: Gilbert;
  font-weight: 300;
  list-style-type: none;
  text-decoration: none;
}

.navbar-brand {
  letter-spacing: 1.5px;
}

.navbar .nav {
  margin-left: 10rem;
  font-family: Gilroy;
  font-weight: 500;
}

@media (max-width: 575.98px) {
  .navbar .nav {
    margin-left: 0;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar .nav {
    margin-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar .nav {
    margin-left: 0;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .navbar .nav {
    margin-left: 0;
  }
}

.navbar .nav li:nth-child(odd) {
  padding: 0 10rem 0 10rem;
}

@media (max-width: 575.98px) {
  .navbar .nav li:nth-child(odd) {
    padding: 0;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar .nav li:nth-child(odd) {
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar .nav li:nth-child(odd) {
    padding: 0;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .navbar .nav li:nth-child(odd) {
    padding: 0;
  }
}

.navbar .nav-user {
  color: #ff8400;
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.navbar .nav-icon {
  position: relative;
  top: 0.4rem;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar .nav-icon {
    right: 1rem;
  }
}

.navbar .nav-icon > li {
  list-style-type: none;
  text-decoration: none;
}

.event {
  background: url("../img/AssetEvent/EOTF-590.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: "center" "center";
  background-attachment: fixed;
  height: 100vh;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .event {
    height: 38rem;
  }
}

.event .container {
  position: relative;
  top: 4rem;
}

.event .container-form {
  background: #d5d5c9;
  border-radius: 25px;
  padding: 3rem;
  letter-spacing: 1px;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .event .container-form {
    width: 23rem;
    margin: auto;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .event .container-form {
    width: 23rem;
  }
}

.event .container-form-judul {
  font-family: GilroyBold;
  font-size: 1.5rem;
}

.event .container-form .inputEvent {
  margin-top: 1rem;
  font-family: Gilroy;
  font-weight: 500;
}

.event .container-form .form-control {
  border-radius: 25px;
}

.event .container-notice {
  font-size: 0.8rem;
  font-family: Gilroy;
}

.event .container .btn-event {
  background: #ff8400;
  border-radius: 25px;
  width: 35%;
  color: #fff;
  font-family: Gilroy;
  float: right;
}

.event .container .btn-event:hover {
  color: #ff8400;
  background: #fff;
}

.event-regist {
  height: 55rem;
  background: #d5d5c9;
}

@media (max-width: 575.98px) {
  .event-regist {
    height: 57rem;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .event-regist {
    height: 55rem;
  }
}

.container-event {
  position: relative;
  top: 5%;
  height: 80%;
  font-family: GilroyBold;
  letter-spacing: 1px;
}

.container-event-text {
  color: #3e3e3d;
}

.container-event-form {
  font-family: Gilroy;
  font-weight: 800;
}

.container-event-form .form-group {
  margin-top: 2rem;
}

.container-event-form .form-group .form-control-file {
  background: #ffffff;
  padding: 1rem;
  border-radius: 10px;
}

.container-event-form .form-group .form-control {
  border-radius: 10px;
}

.container-event-form .btn-event-regist {
  border-radius: 25px;
  width: 12%;
  background: #3e3e3d;
  color: #ffffff;
  font-weight: 800;
  width: 5rem;
}

.container-event-form .btn-event-regist:hover {
  color: #3e3e3d;
  background: #ffffff;
}

.event-list {
  height: 100vh;
  background: #d5d5c9;
}

.container-eventlist {
  background: #fff;
  position: relative;
  top: 5%;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .container-eventlist .row {
    width: 36rem;
    margin-left: -2rem;
  }
}

.container-eventlist .row .col .judul-text {
  color: #ff8400;
  font-family: Gilbert;
}

.container-eventlist .row .col .table-responsive table {
  margin-top: 1.5rem;
}

.bukti {
  background: transparent;
  height: 115vh;
}

.bukti .container {
  padding-top: 50px;
  height: 500px;
}

.bukti .container h3 {
  color: #fff;
  font-family: Gilbert;
}

.bukti .container .row {
  height: 350px;
}

.bukti .container .row .text {
  background: url("../img/AssetBukti/Group 30.png") no-repeat;
  background-size: contain;
  margin-top: 50px;
}

.bukti .container .row .text-konten {
  margin: 3rem 0 0 1rem;
  display: inline-block;
}

.bukti .container .row .text-konten h4 {
  font-size: 34.5px;
  font-family: Gilroy;
  color: #ff8400;
}

.bukti .carousel-edit {
  background: #fff;
  height: 180px;
}

.bukti .carousel-edit .carousel-inner {
  margin: auto;
}

figure{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: auto;
  float: left;
  padding: 15px 0 0 10px;
}

@media (max-width: 1000px) {
  .bukti .container .row .text {
    background: #FF8400 no-repeat;
  }

  .bukti .container .row {
    height: 450px;
  }

  .bukti .container .row .text-konten {
    margin-top: 10px;
    display: inline-block;
  }

  .bukti .container .row .text-konten h4 {
    font-size: 32px;
    font-family: Gilroy;
    color: #fff;
  }

  /* .bukti .carousel-edit .carousel-inner {
    padding: 1.5rem 0 0 5%;
  } */

  figure{
    width: 80%;
    display: flex;
    margin: auto;
    overflow-x: auto;
  }
  
  iframe{
    flex: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: left;
    padding: 15px 0 0 10px;
  }
}

body {
  background: #ff8400;
  overflow-x: hidden;
}
