* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Gilbert;
  src: url("../font/Gilbert-Bold Preview5.otf") format("truetype");
}

@font-face {
  font-family: Gilroy;
  src: url("../font/Gilroy-Light.otf") format("truetype");
}

@font-face {
  font-family: GilroyBold;
  src: url("../font/Gilroy-ExtraBold.otf") format("truetype");
}

.dashboard {
  background: url("../img/AssetDasboard/Group 29.png") no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: 220px -140px;
}

.dashboard .img-background-2 {
  position: absolute;
  width: 50%;
  top: 87%;
  right: 56%;
}

.container-col {
  left: 30%;
  top: 150px;
  position: relative;
}

.container-col-title {
  color: #ff8400;
  width: 50%;
}

.container-col-title .primary-text {
  font-family: Gilbert;
  font-size: 2.5rem;
}

.container-col-title .secondary-text {
  font-family: Gilroy;
  font-weight: 800;
  font-size: 1.2rem;
  margin-left: -2rem;
  letter-spacing: 2px;
}

.container-col-btn {
  border-style: solid;
  border-radius: 50px;
  background-color: transparent;
  border-color: #ff8400;
  padding: 0.5rem;
  position: relative;
  bottom: 12rem;
  left: 20rem;
  width: 11.5rem;
}

.container-col-btn .btn1 {
  background: #ff8400;
  width: 10rem;
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: 1.5px;
  border-color: #ff8400;
}

.container-col-btn .btn1:hover {
  background-color: transparent;
  color: #ff8400;
}

.container-col .img1 {
  position: relative;
  left: 30rem;
  bottom: 15rem;
}

.container-col2 {
  position: relative;
  width: 20%;
  left: -2rem;
  height: 200px;
  font-family: Gilbert;
}

.container-col2-countdown {
  position: absolute;
  top: 70%;
  left: 60%;
  transform: translate(-50%) translateY(-50%);
  text-align: center;
  width: 80%;
  font-size: 3rem;
  color: #ff8400;
}

.container-col2-countdown td:nth-child(odd) {
  padding: 0 15px 0 15px;
  background: #edede8;
  border-radius: 25%;
}

.container-col2-countdown td:nth-child(even) {
  padding: 10px;
  color: black;
}

.container-col2-title2 {
  position: absolute;
  top: 13rem;
}

.container-col2-title2 h4 {
  font-size: 1.7rem;
}

.container-col2-title2 h4 strong {
  color: #ff8400;
  font-weight: 300;
}

.container-col2-btn {
  background: #ff8400;
  width: 10rem;
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: 1.5px;
  border-color: #ff8400;
  width: 7rem !important;
  font-size: 1rem !important;
  position: absolute;
  top: 115%;
  left: 85%;
}

.container-col2-btn:hover {
  background-color: transparent;
  color: #ff8400;
  border-color: #ff8400;
}

.container-col3 {
  width: 30%;
  position: relative;
  left: 58rem;
  top: 3rem;
}

.container-col3-text {
  position: absolute;
  left: -5rem;
  top: 1rem;
  font-family: Gilbert;
  color: #d5d5c9;
}

.container-col3 .social-icons {
  list-style-type: none;
  display: flex;
  position: absolute;
  top: 0.5rem;
}

.container-col3 .social-icons li {
  margin-right: 20px;
  width: 40px;
  height: 40px;
  background-color: #d5d5c9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-col3 .social-icons li:hover {
  background-color: #999999;
}

.container-col3 .social-icons li i {
  font-size: 1.5rem;
  color: #ff8400;
}

.navbar {
  font-family: Gilbert;
  font-weight: 300;
  list-style-type: none;
  text-decoration: none;
}

.navbar-brand {
  letter-spacing: 1.5px;
}

.navbar .nav {
  margin-left: 10rem;
  font-family: Gilroy;
  font-weight: 500;
}

.navbar .nav li:nth-child(odd) {
  padding: 0 10rem 0 10rem;
}

.navbar .nav-user {
  color: #ff8400;
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.navbar .nav-icon {
  position: relative;
  top: 0.4rem;
}

.navbar .nav-icon > li {
  list-style-type: none;
  text-decoration: none;
}

.event {
  background: url("../img/AssetEvent/EOTF-590.png") no-repeat;
  background-size: cover;
  height: 100vh;
}

.event .container-form {
  background: #d5d5c9;
  position: relative;
  border-radius: 25px;
  top: 7.5rem;
  padding: 3rem;
  letter-spacing: 1px;
}

.event .container-form-judul {
  font-family: GilroyBold;
  font-size: 1.5rem;
}

.event .container-form .inputEvent {
  margin-top: 1rem;
  font-family: Gilroy;
  font-weight: 500;
}

.event .container-form .form-control {
  border-radius: 25px;
}

.event .container-notice {
  font-size: 0.8rem;
  font-family: Gilroy;
}

.event .container .btn-event {
  background: #ff8400;
  border-radius: 25px;
  width: 35%;
  color: #fff;
  font-family: Gilroy;
  float: right;
}

.event .container .btn-event:hover {
  color: #ff8400;
  background: #fff;
}

.event-regist {
  height: 140vh;
  background: #d5d5c9;
}

.container-event {
  position: relative;
  top: 5%;
  height: 80%;
  font-family: GilroyBold;
  letter-spacing: 1px;
}

.container-event-text {
  color: #3e3e3d;
}

.container-event-form {
  font-family: Gilroy;
  font-weight: 800;
}

.container-event-form .form-group {
  margin-top: 2rem;
}

.container-event-form .form-group .form-control-file {
  background: #ffffff;
  padding: 1rem;
  border-radius: 10px;
}

.container-event-form .form-group .form-control {
  border-radius: 10px;
}

.container-event-form .btn-event-regist {
  border-radius: 25px;
  width: 12%;
  background: #3e3e3d;
  color: #ffffff;
  font-weight: 800;
}

.container-event-form .btn-event-regist:hover {
  color: #3e3e3d;
  background: #ffffff;
}

.event-list {
  height: 100vh;
  background: #d5d5c9;
}

.container-eventlist {
  background: #fff;
  position: relative;
  top: 5%;
}

.container-eventlist .row .col-11 {
  padding: 2rem 0 0 0;
}

.container-eventlist .row .col-11 .judul-text {
  color: #ff8400;
  font-family: Gilbert;
}

.container-eventlist .row .col-11 table {
  margin-top: 1.5rem;
}

body {
  background: #ff8400;
  overflow-x: hidden;
}
